In [94]:
import pandas as pd

In [95]:
df= pd.read_csv("2017.csv")

In [96]:
cols= ['Country','Happiness.Rank','Happiness.Score']

In [114]:
df = df[cols]
df=df.set_index(["Country"])
df.head()

             Happiness.Rank  Happiness.Score
Country
Norway                    1            7.537
Denmark                   2            7.522
Iceland                   3            7.504
Switzerland               4            7.494
Finland                   5            7.469

In [109]:
df['Country']= df['Country'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 3 columns):
Country            155 non-null object
Happiness.Rank     155 non-null int64
Happiness.Score    155 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.7+ KB

In [116]:
df_world = pd.read_csv("countries of the world.csv")
df_world=df_world.set_index(["Country"])
df_world.head(3)

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"

In [117]:
df_world= df_world.drop(columns=['Arable (%)','Crops (%)','Other (%)'])

In [110]:
df_world['Country']= df['Country'].astype(str)
df_world.head(3)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Norway,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Denmark,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Iceland,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"

In [118]:
df_world.tail(3)

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,
Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2",1,"42,89","8,3","0,135","0,472","0,393"
Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2",2,41,"19,93","0,22","0,29","0,489"
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8",2,"28,01","21,84","0,179","0,243","0,579"

In [127]:
df_happy = df.join(df_world,on=['Country'], how='left', rsuffix='N')

In [129]:
df_happy.tail()

,Happiness.Rank,Happiness.Score,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,
Rwanda,151,3.471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Syria,152,3.462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,153,3.349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Burundi,154,2.905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Central African Republic,155,2.693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_q= pd.read_csv("Quality of Life Index per Country - Sheet1.csv")
df_q.head(10)

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,Denmark,197.75,117.53,77.98,77.07,93.30,7.22,28.53,23.60,82.42
1,2,Finland,195.30,119.42,76.30,75.40,81.70,7.49,33.23,12.07,58.63
2,3,Netherlands,191.25,109.48,71.06,81.08,82.69,6.74,32.73,27.16,86.93
3,4,Switzerland,190.81,126.15,78.24,71.73,131.39,10.94,29.28,23.01,79.78
4,5,Austria,190.22,98.69,79.59,78.80,81.47,9.58,27.02,22.87,77.74
5,6,Germany,190.04,125.01,63.35,75.44,74.35,8.05,31.25,27.32,82.53
6,7,Australia,188.70,122.98,57.45,76.21,84.30,7.41,36.32,24.76,92.41
7,8,New Zealand,182.40,98.61,60.85,71.95,83.41,8.18,34.48,21.77,96.10
8,9,United States,180.56,127.62,50.42,68.38,72.95,3.34,34.74,31.70,78.23
9,10,Sweden,176.81,113.01,50.74,70.42,83.70,10.52,30.68,19.10,75.08

In [63]:
df_q.tail()

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
55,56,Philippines,99.11,34.02,59.87,68.22,35.99,17.84,44.24,72.55,60.63
56,57,Ukraine,95.96,30.24,50.61,50.11,25.98,18.21,38.50,67.24,70.20
57,58,Iran,92.43,45.60,50.60,51.22,34.56,12.45,49.46,81.21,69.54
58,59,Egypt,84.42,24.67,46.28,44.42,25.69,12.68,46.69,87.64,91.98
59,60,Vietnam,81.09,30.09,47.78,52.45,39.44,21.34,31.10,88.10,71.24